.signup-main-light{
    background-image:url(/src/assets/svg/signupBack.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.signup-main-dark{
    background-image:url(/src/assets/svg/signupDark.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
@media only screen and (max-width: 640px) {
    .signup-main-light{
        background-image:none;
        background: var(--body-color);

    }
    .signup-main-dark{
        background-image:none;
        background: var(--body-color);
    }
}
.signup-child-container{
    background-color: var(--box-color);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    color: var(--text-color);
}
.signup-child-container-dark{
    background-color: var(--box-color);
    background: linear-gradient(var(--box-color), var(--box-color)) padding-box, linear-gradient(220deg, transparent -35%,#080ecb, #ff7700) border-box;
    border: 2px solid transparent;
    color: var(--text-color);
    box-shadow: rgba(7, 111, 180, 0.377) 0px 2px 70px 14px;
}