.brand-name-heading{
    /* color: #ffffff; */
}
.btn-login-navbar{
    outline: 2px solid #5FBFF7;
    color: #090437;
    transition: 0.4s;
}
.btn-login-navbar:hover{
    outline: 2px solid #FF7700;
    background-color: #FF7700;
    color: white;
}
.btn-create-navbar{
    background-color: #0008FF;
    color: white;
}

.nav-hamburger-btn{
    background-color: #0008FF;
    color: white
}

@media only screen and (min-width: 600px) {
    .nav-hamburger-btn-div{
        display: none;
    }
  }

  @media only screen and (max-width: 600px) {
    .navbar-btn-div{
        display: none !important;
    }
  }