/* .brand-name-heading{
    color: var(--btn-color);
} */
.btn-login-navbar{
    outline: 1px solid var(--skin-color-primary);
    color: var(--title-color);
    transition: 0.4s;
}
.btn-login-navbar:hover{
    background-color: var(--skin-color-primary);
    color: var(--btn-color);
}
.btn-create-navbar{
    background-color: var(--skin-color-second);
    color: var(--btn-color);
}

.nav-hamburger-btn{
    background-color: var(--skin-color-second);
    color: var(--btn-color);
}

@media only screen and (min-width: 600px) {
    .nav-hamburger-btn-div{
        display: none;
    }
  }

  @media only screen and (max-width: 600px) {
    .navbar-btn-div{
        display: none !important;
    }
  }