.home-container{
    background-image:url(/src/assets/svg/blob-scene-haikei.svg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.btn-start-msg{
    background-color: var(--skin-color-second);
    color: var(--btn-color);
    margin-top: 15px;
}
.left-heading{
    color: var(--skin-color-primary);
}
.left-heading-span{
    color: var(--title-color);
}
.home-left-div-para{
    color: var(--text-color);
}
.home-right-div-img{
    margin-top: 22px;
}
